---
version: "3.9"

services:
  cloudflare-tunnel:
    image: cloudflare/cloudflared:2025.11.1@sha256:89ee50efb1e9cb2ae30281a8a404fed95eb8f02f0a972617526f8c5b417acae2
    container_name: cloudflare-tunnel
    restart: unless-stopped
    command: tunnel run
    environment:
      # Use an environment variable for the token for better security
      TUNNEL_TOKEN: $SECRET__TUNNEL_TOKEN
      NO_AUTOUPDATE: "true"
    volumes:
      - $BUILTIN__APP_CONFIG_DIR_PATH/config.yaml:/etc/cloudflared/config.yaml
    networks:
      - cfd-bridge

networks:
  cfd-bridge:
    external: true
