version: '3.9'
services:
  netbox:
    image: lscr.io/linuxserver/netbox:v4.3.6-ls293
    container_name: netbox
    environment:
      - PUID=1001
      - PGID=1001
      - TZ=Australia/Brisbane
      - SUPERUSER_EMAIL #=netbox-admin@recursive.cloud
      - SUPERUSER_PASSWORD
      - ALLOWED_HOST=netbox.gunzy.xyz
      - DB_NAME=netbox
      - DB_USER=netbox
      - DB_PASSWORD=<%generated:db-password%>
      - DB_HOST=postgresql
      - DB_PORT=5432
      - REDIS_HOST=valkey
      - REDIS_PORT=6379
      - REDIS_PASSWORD=<%generated:redis-password%>
    volumes:
      - /mnt/ssdpool/appdata/netbox/config:/config
    depends_on:
      - postgresql
      - redis
    restart: unless-stopped
    healthcheck:
      test: curl -f http://localhost:8080/login/ || exit 1
      start_period: 90s
      timeout: 3s
      interval: 15s
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=mgmt-bridge"
      - "traefik.http.routers.netbox.rule=Host(`netbox.gunzy.xyz`)"
      - "traefik.http.services.netbox.loadbalancer.server.port=8000"
    networks:
      - mgmt-bridge
      - netbox-bridge

  postgresql:
    image: docker.io/postgres:17-alpine
    container_name: postgresql-netbox
    user: 1001:1001
    healthcheck:
      test: pg_isready -q -t 2 -d $$POSTGRES_DB -U $$POSTGRES_USER
      start_period: 20s
      timeout: 30s
      interval: 10s
      retries: 5
    environment:
      - POSTGRES_DB=netbox
      - POSTGRES_USER=netbox
      - POSTGRES_PASSWORD=<%generated:db-password%>
    restart: unless-stopped
    networks:
      - netbox-bridge
    volumes:
      - /mnt/ssdpool/appdata/netbox/postgresql:/var/lib/postgresql/data

  valkey:
    image: docker.io/valkey/valkey:8.1-alpine
    container_name: valkey-netbox
    user: 1001:1001
    command:
      - sh
      - -c # this is to evaluate the $REDIS_PASSWORD from the env
      - valkey-server --appendonly yes --requirepass $$REDIS_PASSWORD ## $$ because of docker-compose
    healthcheck:
      test: '[ $$(valkey-cli --pass "$${REDIS_PASSWORD}" ping) = ''PONG'' ]'
      start_period: 5s
      timeout: 3s
      interval: 1s
      retries: 5
    environment:
      - REDIS_PASSWORD=<%generated:redis-password%>
    restart: unless-stopped
    networks:
      - netbox-bridge
    volumes:
      - /mnt/ssdpool/appdata/netbox/valkey:/data

networks:
  mgmt-bridge:
    external: true
  netbox-bridge:
    external: true
