---
version: "3.9"

services:
  cloudflare-tunnel:
    image: cloudflare/cloudflared:2026.1.2@sha256:e9bcb2ef08d25632ff74344e73a025f4f4bf12718335b196fa0e670cacace8c5
    container_name: cloudflare-tunnel
    restart: unless-stopped
    command: tunnel run
    environment:
      # Use an environment variable for the token for better security
      TUNNEL_TOKEN: $SECRET__TUNNEL_TOKEN
      NO_AUTOUPDATE: "true"
    volumes:
      - $BUILTIN__APP_CONFIG_DIR_PATH/config.yaml:/etc/cloudflared/config.yaml
    networks:
      - cfd-bridge

networks:
  cfd-bridge:
    external: true
