---
version: "3.9"

services:
  cloudflare-tunnel:
    image: cloudflare/cloudflared:2026.2.0@sha256:404528c1cd63c3eb882c257ae524919e4376115e6fe57befca8d603656a91a4c
    container_name: cloudflare-tunnel
    restart: unless-stopped
    command: tunnel run
    environment:
      # Use an environment variable for the token for better security
      TUNNEL_TOKEN: $SECRET__TUNNEL_TOKEN
      NO_AUTOUPDATE: "true"
    volumes:
      - $BUILTIN__APP_CONFIG_DIR_PATH/config.yaml:/etc/cloudflared/config.yaml
    networks:
      - cfd-bridge

networks:
  cfd-bridge:
    external: true
