---
version: "3.8"

services:
  cloudflare-tunnel:
    image: cloudflare/cloudflared:2025.11.1
    container_name: cloudflare-tunnel
    restart: unless-stopped
    command: tunnel run
    environment:
      # Use an environment variable for the token for better security
      TUNNEL_TOKEN: $SECRET__TUNNEL_TOKEN
      NO_AUTOUPDATE: "true"
    networks:
      - cfd-bridge

networks:
  cfd-bridge:
    external: true
